[user]
	email = zackhovatter@gmail.com
	name = Zack Hovatter
[color]
    ui = auto
[core]
	editor = vim
    excludesfile = ~/.gitignore_global
[alias]
    aa = add --all
    amend = commit --amend
    b = branch
    ci = commit
    dc = diff --cached
    fa = fetch --all
    pom = push origin master
    st = status
[merge]
    tool = vimdiff
