[user]
    email = zackhovatter@gmail.com
    name = Zack Hovatter
[color]
    ui = auto
[core]
    editor = vim
    excludesfile = ~/.gitignore_global
[alias]
    aa = add --all
    amend = commit --amend
    b = branch
    ci = commit
    co = checkout
    dc = diff --cached
    fa = fetch --all
    pom = push origin master
    phm = push heroku master
    pos = push origin staging
    st = status
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
[merge]
    tool = vimdiff
[push]
	default = simple
